.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}

body{
    background-color: #000207;}
    
    h1{
    color: aqua;
    }
    h2{color: red;}
    .nombres{color: aqua;}
    .apellidos{color: red;}