.p_8{
    background-color: #ffff00;
    border-collapse: collapse;
    border-bottom: dotted #ff0000;
    }
    .p_8 th{
    color:#ff0000;
    }
    .p_8 td,tr{
    border: 1px dotted #000000;
    }
    #e,#p{
    font-size: 30px;
    }
    #footer_name{
    font-size: 10px;
    text-align: center; }